{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="content-body">
  <form action="{% url 'book-update' book.id %}" method="post">{% csrf_token %}
  {% for field in form %}
    <div class="form-group row">
      <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
      <div class="col-sm-10">
          {{ field|add_class:"form-control" }}
          {{ field.errors }}
      </div>
    </div>
  {% endfor %}
    <div class="book-action-box">
      <input type="submit" class="btn btn-primary" value="저장" />
      <a href="{% url 'book-delete' book.id %}?next={{ request.path|urlencode }}">
        <button type="button" class="btn btn-danger"> 삭제</button>
      </a>
      <a href="{{ book.get_absolute_url }}">
        <button type="button" class="btn btn-secondary">뒤로가기</button>
      </a>
    </div>
  </form>
  </div>
{% endblock %}