{% extends 'base.html' %}

{% block content %}
<div class="content-body">
  <div class="book-card">
    <div class="card-body">
      <h3>{{ book.title }}</h3>
      <h5>{{ book.contents|linebreaks }}</h5>
      <p class="book-card-data column-text">{{ book.user }}</p>
      <p class="book-card-data column-text">{{ book.created|date:"Y-m-d" }}</p>
    </div>
  </div>
  <div class="book-action-box">
    <a href="{% url 'book-update' book.id %}?next={{ request.tpath|urlencode }}">
      <button type="button" class="btn btn-info">수정</button>
    </a>
    <a href="{% url 'book-list' %}">
      <button type="button" class="btn btn-secondary">목록으로</button>
    </a>
{#    <form action="{% url 'book-delete' book.id %}" method="post">{% csrf_token %}#}
      <a href="{% url 'book-delete' book.id %}">
        <button type="button" class="btn btn-danger" value="삭제" />
      </a>
{#    </form>#}
  </div>
</div>

{% endblock %}