{% extends 'base.html' %}

{% block content %}
<div class="content-body">
  <div class="book-card-detail">
    <div class="card-body">
      <h3>{{ book.title }}</h3>
      <h6>{{ book.contents|linebreaks }}</h6>
      <div class="book-status-badge">
      {% if book.read_status == '1'%}
        <span class="badge badge-pill badge-default">{{ book.get_read_status_display }}</span>
      {% elif book.read_status == '2'%}
        <span class="badge badge-pill badge-info">{{ book.get_read_status_display }}</span>
      {% elif book.read_status == '3'%}
        <span class="badge badge-pill badge-primary">{{ book.get_read_status_display }}</span>
      {% endif %}
      </div>
      <p class="book-card-data column-text">구매일: {{ book.purchase_date|date:"Y-m-d" }} </p>
      <p class="book-card-data column-text">닉네임: {{ book.user.nick_name }} </p>
      <p class="book-card-data column-text">등록일: {{ book.created|date:"Y-m-d" }} </p>
    </div>
  </div>
  <div class="book-action-box">
    <a href="{% url 'book-update' book.id %}">
      <button type="button" class="btn btn-info">수정</button>
    </a>
    <a href="{% url 'book-list' %}">
      <button type="button" class="btn btn-secondary">목록으로</button>
    </a>
  </div>
</div>

{% endblock %}