{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="content-body">
  <form action="{% url 'mypage' %}" method="post">{% csrf_token %}
  {% for field in form %}
    <div class="form-group row">
      <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
      <div class="col-sm-10">
          {{ field | add_class:"form-control"}}
          {{ field.errors }}
      </div>
    </div>
  {% endfor %}
    <div class="book-action-box">
      <input type="submit" class="btn btn-primary" value="완료" />
      <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-secondary">로그아웃</button>
      </a>
    </div>
  </form>
</div>

{% endblock %}